@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Open Sans', sans-serif;
}

/*.modal {
    width: inherit !important;
    max-width: 75% !important;
}*/
